@import '../variables';

.sidebar {
  &__drawer {
    width: $sidebar-width;
    flex-shrink: 0;

    .MuiDrawer-paper {
      width: $sidebar-width;
      box-sizing: border-box;
      background-color: $dark-bg-secondary;
      border: none;
      top: $header-height;
      height: calc(100% - #{$header-height});
    }
  }

  &__list-item {
    height: 32px;
    padding: 0 20px;

    &--active {
      background-color: $item-active-bg;
    }

    &:hover {
      background-color: $item-hover-bg;
    }
  }

  &__list-item-text {
    .MuiListItemText-primary {
      font-size: $font-size-md;
      line-height: 16px;
      color: $white;
    }
  }

  &__icon {
    min-width: 30px;
    color: $white;
  }
}