@use 'variables' as *;
@use 'layout/header';
@use 'layout/sidebar';
@use 'layout/main-layout';

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark-bg-primary;
  color: $white;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}
